{% extends "BetterDreamWebBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ "titles.how_to"|trans }}{% endblock title %}

{% block headline %}{{ "titles.how_to"|trans }}{% endblock headline %}

{% block content %}
<article>
    <h2>{{ "how_to.1.title"|trans }}</h2>
    <p>{{ "how_to.1.text"|trans|raw }}</p>

    <h2>{{ "how_to.2.title"|trans }}</h2>
    <p>
        {{ "how_to.2.text"
            |trans({"url": path("betterdream_web_main_index") ~ "#download"})
            |raw
        }}
    </p>
</article>
{% endblock content %}
