{% extends "BetterDreamWebBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ "home.title"|trans }}{% endblock title %}

{% macro app_thumbnail(type) %}
<div class="thumbnail" id="{{ type }}">
    <img src="http://placehold.it/560x250" width="560" height="250" alt="{{ (type ~ ".screenshot.alt")|trans }}">
    <div class="caption">
        <h2>{{ (type ~ ".title")|trans|raw }}</h2>
        <p>
            {{ (type ~ ".description")|trans|raw|nl2br }}
        </p>
        <p>
            <a class="btn btn-primary btn-large" href="{{ (type ~ ".link.uri")|trans|raw }}">
                <i class="icon-download-alt icon-white"></i>
                {{ (type ~ ".link.label")|trans|raw }}
            </a>
        </p>
    </div>
</div>
{% endmacro %}

{% block page_header %}
<div class="hero-unit">
    <h1>{% trans %}title{% endtrans %}</h1>
    <p>{{ "description"|trans|raw|nl2br }}</p>
    <p>
        <a class="btn btn-info btn-large" href="#ios">
            <i class="icon-chevron-right icon-white"></i>
            {{- "ios.title"|trans|raw -}}
        </a>
        &nbsp;
        <a class="btn btn-info btn-large" href="#android">
            <i class="icon-chevron-right icon-white"></i>
            {{- "android.title"|trans|raw -}}
        </a>
        &nbsp;
        <strong>
            <a class="btn btn-large" href="{{ path("betterdream_web_main_howto") }}">
                <i class="icon-question-sign"></i>
                {{ "how_to.why"|trans|raw -}}
            </a>
        </strong>
    </p>
</div>
{% endblock page_header %}

{% block content %}
<div class="marketing">
    <div class="row">
        {% for i in 1..4 %}
        <div class="span3">
            <h2>{{ ("marketing." ~ i ~ ".title")|trans|raw }}</h2>
            <p>{{ ("marketing." ~ i ~ ".description")|trans|raw|nl2br }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="row" id="download">
        <div class="span6">
            {{ _self.app_thumbnail("ios") }}
        </div>
        <div class="span6">
            {{ _self.app_thumbnail("android") }}
        </div>
    </div>
</div>
{% endblock content %}
