{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% macro js_func_async(url) %}
function downloadJSAtOnload(){var e=document.createElement("script");e.src="{{ url }}";document.body.appendChild(e);}if(window.addEventListener){window.addEventListener("load",downloadJSAtOnload,false);}else if(window.attachEvent){window.attachEvent("onload", downloadJSAtOnload);}else{window.onload=downloadJSAtOnload;}
{% endmacro %}

{% block title %}{% trans %}title{% endtrans %}{% endblock %}

{% block head_style %}
{% stylesheets
    '@BetterDreamWebBundle/Resources/public/less/betterdreamweb.less'
%}
<link href="{{ asset(asset_url) }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock head_style %}

{% block foot_script %}
{%- javascripts
    'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
%}
<script type="text/javascript">{{ _self.js_func_async(asset(asset_url)) }}</script>
{% endjavascripts %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31836368-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
{% endblock foot_script %}

{% block navbar %}
{{ mopa_bootstrap_navbar('frontendNavbar') }}
{% endblock navbar %}

{% block container %}
<div class="container">
    <div class="content">
        {% block page_header %}
        <div class="page-header">
            <h1>{% block headline %}{% trans %}title{% endtrans %}{% endblock headline %}</h1>
        </div>
        {% endblock page_header %}

        {% block flashes %}
        {{ session_flash() }}
        {% endblock flashes %}

        {% block content %}
            <strong>Better Dreams !!!</strong>
        {% endblock content %}
    </div>
    <hr>
    <footer>
        {% block footer %}
        <p>&copy; <a href="{% trans %}uri.adrienbrault{% endtrans %}" target="_blank">Adrien Brault</a> 2012</p>
        {% endblock footer %}
    </footer>
</div>
{% endblock container %}
