{% spaceless %}

{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% macro js_func_async(url) %}function downloadJSAtOnload(){var e=document.createElement("script");e.src="{{ url }}";document.body.appendChild(e);}if(window.addEventListener){window.addEventListener("load",downloadJSAtOnload,false);}else if(window.attachEvent){window.attachEvent("onload", downloadJSAtOnload);}else{window.onload=downloadJSAtOnload;}{% endmacro %}

<!DOCTYPE html>

{% block html_tag %}
<html>
{% endblock html_tag %}
<head>
    <meta charset="UTF-8" />
    {% block head_style %}
    {% stylesheets
        '@BetterDreamWebBundle/Resources/public/less/betterdreamweb.less'
    %}
    <link href="{{ asset(asset_url) }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {% endblock head_style %}

    {% block head_metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block head_metas_description %}{{ "description"|trans|striptags|trim }}{% endblock %}" />

    <meta property="og:title" content="{{ block("title") }}" />
    <meta property="og:description" content="{{ block("head_metas_description") }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url(app.request.attributes.get("_route") ) }}" />
    <meta property="og:image" content="{{ asset("bundles/betterdreamweb/img/icon.jpg") }}" />
    {% endblock head_metas %}

    {% block head_script %}
    {# Overwrite this block to add your own js here, to get them generated into final files #}
    {% endblock head_script %}

    <title>{% block title %}{% trans %}title{% endtrans %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    {% block head_link_alternate %}
    {% for locale in locales %}
        {% if locale != app.request.locale %}
            {% set link_alternate = url(app.request.attributes.get("_route"), {"_locale": locale}) %}
            <link rel="alternate" hreflang="{{ locale }}" href="{{ link_alternate }}" />
        {% endif %}
    {% endfor %}
    {% endblock head_link_alternate %}
</head>
{% block body_tag %}
<body data-spy="scroll">
{% endblock body_tag %}
{% block body_start %}
{% endblock body_start %}

{% block body %}
{% block navbar %}
{{ mopa_bootstrap_navbar('frontendNavbar') }}
{% endblock navbar %}

{% block container %}
<div class="container">
    <div class="content">
        {% block page_header %}
        <div class="page-header">
            <h1>{% block headline %}{% trans %}title{% endtrans %}{% endblock headline %}</h1>
        </div>
        {% endblock page_header %}

        {% block flashes %}
        {{ session_flash() }}
        {% endblock flashes %}

        {% block content %}
        <strong>Better Dreams !!!</strong>
        {% endblock content %}
    </div>
    <hr>
    <footer>
        {% block footer %}
        {% set home_url = url("betterdream_web_main_index", {"_locale": app.request.locale}) %}

        <div class="social">
            <div>
                <div class="g-plusone" data-size="medium" data-href="{{ home_url }}"></div>
            </div>
            <div>
                <a href="https://twitter.com/share" data-lang="{{ app.request.locale }}" data-url="{{ home_url }}" class="twitter-share-button" data-via="BetterDreamOrg" data-related="BetterDreamOrg">Tweeter</a>
            </div>
            <div>
                <div class="fb-like" data-href="{{ home_url }}" data-send="false" data-layout="button_count" data-show-faces="false"></div>
            </div>
        </div>
        <p>&copy; <a href="{% trans %}uri.adrienbrault{% endtrans %}" target="_blank">Adrien Brault</a> 2012</p>
        {% endblock footer %}
    </footer>
</div>
{% endblock container %}

{% block foot_script %}
{%- javascripts
    'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
%}
<script type="text/javascript">{{ _self.js_func_async(asset(asset_url)) }}</script>
{% endjavascripts %}

{# Google analytics #}
<script type="text/javascript">var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-31836368-1']);
_gaq.push(['_trackPageview']);
(function(){var b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a)})();
</script>

{# Google+ #}
<script type="text/javascript">window.___gcfg = {lang: '{{ app.request.locale }}'};
(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src="https://apis.google.com/js/plusone.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();
</script>

{# Twitter #}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{# Facebook #}
<div id="fb-root"></div>
<script>window.fbAsyncInit = function() {
FB.init({
    xfbml: true
});
};(function(c){var b,e="facebook-jssdk",a=c.getElementsByTagName("script")[0];if(c.getElementById(e)){return}b=c.createElement("script");b.id=e;b.async=true;b.src="//connect.facebook.net/{{ "facebook.locale"|trans }}/all.js";a.parentNode.insertBefore(b,a)}(document));
</script>
{% endblock foot_script %}
{% endblock body %}
</body>
</html>

{% endspaceless %}